{
  "realm": "echno-realm",
  "enabled": true,
  "sslRequired": "external",
  "displayName": "Echno Realm",
  "loginWithEmailAllowed": true,
  "duplicateEmailsAllowed": false,
  "resetPasswordAllowed": true,
  "editUsernameAllowed": false,
  "registrationAllowed": ${KEYCLOAK_REGISTRATION_ALLOWED},
  "bruteForceProtected": true,
  "failureFactor": 5,
  "revokeRefreshToken": true,
  "refreshTokenMaxReuse": 2,
  "clients": [
    {
      "clientId": "${KEYCLOAK_CLIENT_ID}",
      "publicClient": false,
      "secret": "${KEYCLOAK_CLIENT_SECRET}",
      "serviceAccountsEnabled": true,
      "authorizationServicesEnabled": true,
      "protocol": "openid-connect",
      "redirectUris": [${KEYCLOAK_REDIRECT_URI}],
      "webOrigins": [${KEYCLOAK_WEB_ORIGIN}],
      "standardFlowEnabled": true,
      "directAccessGrantsEnabled": false,
      "protocolMappers": [
        {
          "name": "groups",
          "protocol": "openid-connect",
          "protocolMapper": "oidc-group-membership-mapper",
          "consentRequired": false,
          "config": {
            "full.path": "true",
            "id.token.claim": "true",
            "access.token.claim": "true",
            "claim.name": "groups",
            "userinfo.token.claim": "true"
          }
        }
      ]
    },
    {
        "clientId": "${KEYCLOAK_FRONTEND_CLIENT_ID}",
        "publicClient": true,
        "protocol": "openid-connect",
        "redirectUris": [${KEYCLOAK_FRONTEND_REDIRECT_URI}],
        "webOrigins": [${KEYCLOAK_FRONTEND_WEB_ORIGIN}],
        "standardFlowEnabled": true,
        "directAccessGrantsEnabled": false,
        "attributes": {
          "pkce.code.challenge.method": "S256"
        },
        "protocolMappers": [
          {
            "name": "groups",
            "protocol": "openid-connect",
            "protocolMapper": "oidc-group-membership-mapper",
            "consentRequired": false,
            "config": {
              "full.path": "true",
              "id.token.claim": "true",
              "access.token.claim": "true",
              "claim.name": "groups",
              "userinfo.token.claim": "true"
            }
          }
        ]
    }
  ],
  "roles": {
    "realm": [
      {"name": "user", "description": "Regular user role"},
      {"name": "admin", "description": "Administrator with full access"}
    ]
  }
}